/* General styling */
:root {
    --header-color: blue;
    --text-color: white;
}

header {
    background-color: var(--header-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
}

header h1 {
    margin-top: .5rem;
}

.row-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.card-wrapper {
    border-radius: 10px;
    border-style: solid;
    border-color: grey;
    margin-bottom: 0;
    max-width: 300px;
}

.card-header {
    display: block;
    justify-content: center;
    background-color: var(--header-color);
    color: var(--text-color);
}

.card-header h4, 
.card-header h5 {
    text-align: center;
}

footer {
    background-color: var(--header-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
}

footer h6 {
    margin: 10px;
}